*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'overpass', sans-serif;
}

:root{
    --black__color: #2f3542;
    --grey__color: #57606f;
    --white__color: #f1f2f6;
    --pink__color: #ff6b81;
}

body{
    background-color: var(--black__color);
}

.container{
    width: 70%;
    margin: 100px auto;
}

.input{
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid var(--grey__color);
    border-radius: 40px;
}

.input span {
    margin: 0 10px;
    color: var(--pink__color);
}

.input input{
    width: 100%;
    height: 100%;
    border-radius: 0px 40px 40px 0px;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--white__color);
    padding: 0 10px;
}

.input input::placeholder{
    color: var(--white__color);
}

.input input,
.input input::placeholder{
    font-weight: 300;
    letter-spacing: 0.5px;
}

/* CONTAIN TASK */

.contain__tasks{
    width: 100%;
    margin-top: 30px;
}

.contain__tasks h3{
    color: var(--white__color);
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.task{
    background-color: var(--grey__color);
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white__color);
}

.todo{
    color: var(--white__color);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
}

.todo .task:not(:last-child),
.completed .task:not(:last-child){
    margin-bottom: 15px;
}

.completed .task p{
    text-decoration-line: line-through;
}

.task p{
    font-weight: 300;
    margin-right: 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-family: 'source sans pro';
    text-transform: none;
}

.contain__btn{
    display: flex;
}

.contain__btn span:not(:last-child){
    margin-right: 10px;
}

.contain__btn span{
    padding: 5px;
    background-color: #ff6b813c;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    color: var(--pink__color);
}

/* UPDATE FORM */

.update{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--black__color);
}


.update textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px 20px;
    outline: none;
    resize: none;
    background-color: transparent;
    color: var(--white__color);
    font-weight: 300;
    letter-spacing: 0.5px;
    border: 1px solid var(--grey__color);
}

.update textarea::placeholder{
    color: var(--white__color);
}

.update button{
    padding: 10px 20px;
    background-color: var(--pink__color);
    color: var(--white__color);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.update.active{
    visibility: visible;
    opacity: 1;
}